.hero
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

  .right-triangle
    fill: none
    stroke: $green
    stroke-width: $stroke
    position: absolute
    width: 600px
    top: 40%
    left: 80%
    z-index: -11

  .left-rectangle
    stroke: $lightgrey
    stroke-width: $stroke
    fill: none

    position: absolute
    width: 1000px
    top: 100px
    right: 75%
    z-index: -11

  .logo-hero
    width: 600px
    @media screen and (max-width: 650px)
      width: 100vw

.rect-pink-form
  stroke: $lightgrey
  stroke-width: $stroke
  fill: none
  position: absolute
  z-index: -1
  width: 71%
  left: 60%
  top: 50%
  bottom: -100%
  @media screen and (max-width: 650px)
    width: 95%

.background
  position: absolute

  .right-elipse
    stroke: $pink
    stroke-width: $stroke
    fill: none
    position: relative
    width: 700px
    top: -250px
    left: 500px
    z-index: -10
    @media screen and (max-width: 743px)
      width: 300px
      top: -100px
      left: 100px

  .left-triangle
    fill: none
    stroke: $black
    stroke-width: $stroke
    position: relative

    width: 500px
    top: 90px
    right: 150px
    z-index: -11

.about-us
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  margin: 150px auto
  padding: 10% 0

  .about
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    padding: 5% 0
    @media screen and (max-width: 650px)
      width: 95%

    img
      width: 45%
      z-index: -12
      box-shadow: 3px 3px 22px rgba($black,0.2)
      @media screen and (max-width: 1000px)
        width: 100%

.text-about
  width: 50%
  margin-right: 3em
  font-size: 15px
  @media screen and (max-width: 1000px)
    width: 100%
    margin-right: 0
    font-size: 12px
