header
    height: 100px
    display: flex
    justify-content: space-around
    align-items: center
    width: 100%
    position: fixed
    text-align: center
    z-index: 999

nav
  .nav-cont
    width: 90%

  ul
    display: flex
    list-style-type: none
    font-family: Quicksand
    color: $green
    padding: 0px

  li a
    padding: 2em
    transition: 500ms

  li a:active
      color: $green
